body{
    color:white;
  }
  
  h1{
    margin-bottom:2rem;
  }
  
  #highScoresList{
    margin-bottom: 3rem;
    font-size: 5rem;
    font-family: 'Poppins',sans-serif;
  }
  
  .highScores{
    font-size:2.8rem;
    margin-bottom: 0.5rem;
  }